@tailwind base;
@tailwind components;
@tailwind utilities;

/* npx tailwindcss -i ./src/input.css -o style.css --watch */

* {
    font-family: Helvetica, sans-serif;
}

@layer components {
    .box {
        min-height: 1rem;
        border: 1px solid red;
        font-size: 1rem;
        background-color: lightblue;
    }
    .hero {
        height: 657px;
        width: 100vw;
    }

    @media (min-width:640px) {
        .hero {
            height: 500px;
        }
    }

    .hero__nav {
        height: 90px;
    }

    @media (min-width: 640px) {
        .hero__menu-list {
            list-style-type: none;
            margin: 0;
            padding: 0;
            height: 36px;
            width: 37.671%;
            gap: 8.181%;
        }

        .hero__menu-list a {
            font-family: Helvetica;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            text-wrap: nowrap;
        }

    }

    .hero__nav-container {
        width: 91.111%;
    }

    .hero__nav-menu-icon {
        -webkit-mask: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 18H21' stroke='%23222222' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3 12H21' stroke='%23222222' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3 6H21' stroke='%23222222' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");    
        mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 18H21' stroke='%23222222' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3 12H21' stroke='%23222222' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3 6H21' stroke='%23222222' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        -webkit-mask-size: cover;
        mask-size: cover;
        -webkit-mask-position: center;
        mask-position: center;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        background-color: #222222;
        height: 1.5rem;
        width: 1.5rem;
    }

    .hero__text-container {

    }

    .hero__text {
    }

    @media (min-width: 640px) {
        .hero__text {
            padding-left: 18.888%;
        }    
    }

    .hero__text-container h1 {
        font-size: 2.25rem;
        line-height: 3.375rem;
        font-weight: 700;
    }

    .hero__text-container p {
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 300;
    }

    .hero__img-container {
        /* height: 30.289%; */
        height: 199px;
    }

    .hero__img-bg {
        height: 118.81px;
        width: 100%;
        border-top-left-radius: 3.75rem;
        position: relative;
        left: 1rem;
    }

    @media (min-width: 640px) {
        .hero__img-bg {
            height: 243px;
        }
    }

    .hero__img-png {
        background-image: url(images/kar.png);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        height: 199px;
        width: 344.22px;
        transform: scaleX(-1);
    }

    @media (min-width: 640px) {
        .hero__img-png {
            height: 28.263vw;
            width: 48.888vw;
            max-height: 407px;
            max-width: 704px;
        }
    }

    .button {
        background-color: limegreen;
        font-size: 0.875rem;
        font-weight: 700;
        line-height: 1.25rem;
        padding: 0.5rem 0.75rem 0.5rem 0.75rem;
        color: white;
        border-radius: 0.125rem;
        height: 36px;
    }

    .bcr-logo {
        background-image: url();
        height: 34px;
        width: 100px;
    }

    /* services section */
    .services {
        height: 700px;
        width: 100vw;
    }

    .services__content  {
        height: 100%;
        width: 100%;
    }

    @media (min-width: 640px) {
        .services {
            height: 628px;
        }
        
        .services__content {
            width: 71.3194%;
        }
    }

    .services__img-container {
        height: 312px;
    }

    .services__img {
        background-image: url(images/gurl.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 70vw;
        height: 63.333vw;
        max-width: 252px;
        max-height: 228px;
    }

    @media (min-width: 640px) {
        .services__img {
            width: 31.875vw;
            height: 29.722vw;
            max-height: 428px;
            max-width: 459px;
        }
    }

    .services__text-container {
        height: 388px;
    }

    @media (min-width: 640px) {
        .services__text-container {
            margin-left: 6.9444vw;
        }    
    }

    .services__text-container h1 {
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
    }

    .services__text-container p li {
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
    }

    .services__tick-container {
        width: 24px;
        height: 24px;
    }

    .tick-icon {
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.3334 1L5.00008 8.33333L1.66675 5' stroke='%230D28A6' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");    
        mask-image: url("data:image/svg+xml,%3Csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.3334 1L5.00008 8.33333L1.66675 5' stroke='%230D28A6' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        height: 10px;
        width: 14px;
    }

    .svg {
        -webkit-mask-size: contain;
        mask-size: contain;
        -webkit-mask-position: center;
        mask-position: center;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
    }
}