@tailwind base;
@tailwind components;
@tailwind utilities;

/* npx tailwindcss -i ./src/input.css -o style.css --watch */

* {
    font-family: Helvetica, sans-serif;
}

@layer base {
    body {
        @apply flex flex-col m-0 p-0 gap-6 lg:gap-2;
    }

    h1 {
        @apply text-4xl font-bold leading-13 m-0;

    }

    h2 {
        @apply text-2xl font-bold leading-9 m-0;
    }

    h3 {
        @apply text-base font-bold leading-6 m-0;
    }

    p {
        @apply text-sm font-light leading-5 m-0;
    }
}

@layer components {
    .box {
        min-height: 1rem;
        border: 1px solid red;
        font-size: 1rem;
        background-color: lightblue;
    }

    .svg {
        -webkit-mask-size: contain;
        mask-size: contain;
        -webkit-mask-position: center;
        mask-position: center;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
    }

    .bcr-logo {
        background-image: url();
        height: 34px;
        width: 100px;
    }

    .button {
        background-color: limegreen;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        text-align: left;
        padding: 8px 12px 8px 12px;
        gap: 10px;
        color: white;
        border-radius: 2px;
    }

    .icon--20px {
        width: 20px;
        height: 20px;
    }

    /* hero */
    .hero__nav {
        height: 58px;
    }

    .hero__nav-container {
        height: 34px;
    }

    #hero__side-nav {
        transition: 500ms;
    }

    #hero__side-nav .open {
        width: 50vw;
    }

    .hero__nav-menu-icon {
        -webkit-mask: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 18H21' stroke='%23222222' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3 12H21' stroke='%23222222' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3 6H21' stroke='%23222222' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");    
        mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 18H21' stroke='%23222222' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3 12H21' stroke='%23222222' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3 6H21' stroke='%23222222' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        -webkit-mask-size: cover;
        mask-size: cover;
        -webkit-mask-position: center;
        mask-position: center;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        background-color: #222222;
        height: 1.5rem;
        width: 1.5rem;
    }

    .hero__img-container {
        height: 199px;
        margin-left: 4.44444%;
    }

    .hero__img-bg {
        height: 118.81px;
        width: 100%;
        border-top-left-radius: 3.75rem;
    }

    .hero__img-png {
        background-image: url(images/kar.png);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: contain;
        height: 199px;
        width: 344.22px;
        transform: scaleX(-1);
    }

    @media (min-width: 640px) {
        .hero__nav {
            height: 60px;
        }

        .hero__nav-container {
            height: 36px;
        }
        
        .hero__menu-list {
            width: 37.67123%;
            gap: 7.272727%;
        }

        .hero__menu-list a {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            text-align: left;
            text-wrap: nowrap;
        }

        .hero__content {
            width: 39.4444%;
            margin-left: 9.4444%;
        }

        .hero__img-container {
            height: 407px;
        }

        .hero__img-bg {
            height: 243px;
            width: 100%;
            border-top-left-radius: 60px;
        }    

        .hero__img-png {
            width: 48.8888vw;
            height: 28.2639vw;
            max-height: 407px;
            max-width: 704px;
        }
        
        .hero__text-container p {
            width: 82.3943%;
        }

        .hero__content .button {
            margin-bottom: 17.4%;
        }
    
    }

    /* footer */
    #footer__nav li {
        @apply text-sm font-semibold leading-5 m-0;
    }

    .socmed__icon {
        height: 32px;
        width: 32px;
    }

    .fb-icon {
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.9999 1.66675H12.4999C11.3949 1.66675 10.335 2.10573 9.55364 2.88714C8.77224 3.66854 8.33325 4.72835 8.33325 5.83341V8.33342H5.83325V11.6667H8.33325V18.3334H11.6666V11.6667H14.1666L14.9999 8.33342H11.6666V5.83341C11.6666 5.6124 11.7544 5.40044 11.9107 5.24416C12.0669 5.08788 12.2789 5.00008 12.4999 5.00008H14.9999V1.66675Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");        mask-image: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 11L6.5 6L1.5 1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        mask-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.9999 1.66675H12.4999C11.3949 1.66675 10.335 2.10573 9.55364 2.88714C8.77224 3.66854 8.33325 4.72835 8.33325 5.83341V8.33342H5.83325V11.6667H8.33325V18.3334H11.6666V11.6667H14.1666L14.9999 8.33342H11.6666V5.83341C11.6666 5.6124 11.7544 5.40044 11.9107 5.24416C12.0669 5.08788 12.2789 5.00008 12.4999 5.00008H14.9999V1.66675Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }

    .ig-icon {
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.1667 1.66675H5.83342C3.53223 1.66675 1.66675 3.53223 1.66675 5.83342V14.1667C1.66675 16.4679 3.53223 18.3334 5.83342 18.3334H14.1667C16.4679 18.3334 18.3334 16.4679 18.3334 14.1667V5.83342C18.3334 3.53223 16.4679 1.66675 14.1667 1.66675Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13.3333 9.47501C13.4361 10.1685 13.3176 10.8769 12.9947 11.4992C12.6718 12.1215 12.1609 12.6262 11.5346 12.9414C10.9083 13.2566 10.1986 13.3663 9.50641 13.2549C8.81419 13.1436 8.17472 12.8167 7.67895 12.321C7.18318 11.8252 6.85636 11.1857 6.74497 10.4935C6.63359 9.8013 6.74331 9.09159 7.05852 8.46532C7.37374 7.83905 7.87841 7.32812 8.50074 7.00521C9.12307 6.68229 9.83138 6.56383 10.5249 6.66667C11.2324 6.77158 11.8873 7.10123 12.393 7.60693C12.8987 8.11263 13.2283 8.76757 13.3333 9.47501Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14.5833 5.41675H14.5916' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        mask-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.1667 1.66675H5.83342C3.53223 1.66675 1.66675 3.53223 1.66675 5.83342V14.1667C1.66675 16.4679 3.53223 18.3334 5.83342 18.3334H14.1667C16.4679 18.3334 18.3334 16.4679 18.3334 14.1667V5.83342C18.3334 3.53223 16.4679 1.66675 14.1667 1.66675Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13.3333 9.47501C13.4361 10.1685 13.3176 10.8769 12.9947 11.4992C12.6718 12.1215 12.1609 12.6262 11.5346 12.9414C10.9083 13.2566 10.1986 13.3663 9.50641 13.2549C8.81419 13.1436 8.17472 12.8167 7.67895 12.321C7.18318 11.8252 6.85636 11.1857 6.74497 10.4935C6.63359 9.8013 6.74331 9.09159 7.05852 8.46532C7.37374 7.83905 7.87841 7.32812 8.50074 7.00521C9.12307 6.68229 9.83138 6.56383 10.5249 6.66667C11.2324 6.77158 11.8873 7.10123 12.393 7.60693C12.8987 8.11263 13.2283 8.76757 13.3333 9.47501Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14.5833 5.41675H14.5916' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }

    .x-icon {
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-twitter-x' viewBox='0 0 16 16'%3E%3Cpath d='M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z'/%3E%3C/svg%3E");
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-twitter-x' viewBox='0 0 16 16'%3E%3Cpath d='M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z'/%3E%3C/svg%3E");
    }

    .mail-icon {
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.33341 3.33325H16.6667C17.5834 3.33325 18.3334 4.08325 18.3334 4.99992V14.9999C18.3334 15.9166 17.5834 16.6666 16.6667 16.6666H3.33341C2.41675 16.6666 1.66675 15.9166 1.66675 14.9999V4.99992C1.66675 4.08325 2.41675 3.33325 3.33341 3.33325Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M18.3334 5L10.0001 10.8333L1.66675 5' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        mask-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.33341 3.33325H16.6667C17.5834 3.33325 18.3334 4.08325 18.3334 4.99992V14.9999C18.3334 15.9166 17.5834 16.6666 16.6667 16.6666H3.33341C2.41675 16.6666 1.66675 15.9166 1.66675 14.9999V4.99992C1.66675 4.08325 2.41675 3.33325 3.33341 3.33325Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M18.3334 5L10.0001 10.8333L1.66675 5' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }

    .twitch-icon {
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.3333 9.16675V5.83341M17.5 1.66675H2.5V15.0001H6.66667V18.3334L10 15.0001H14.1667L17.5 11.6667V1.66675ZM9.16667 9.16675V5.83341V9.16675Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        mask-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.3333 9.16675V5.83341M17.5 1.66675H2.5V15.0001H6.66667V18.3334L10 15.0001H14.1667L17.5 11.6667V1.66675ZM9.16667 9.16675V5.83341V9.16675Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }

    @media (min-width: 768px) {
        .footer__23prcnt {
            width: 22.9452%;
        }
    }
}